<h1><%= @cat.name %></h1>

<ul>
  <li>Owner: <%= @cat.owner.user_name %> </li>
  <li>Age: <%= @cat.age %> Years Old</li>
  <li>Birthday: <%= "#{@cat.birth_date.day}/#{@cat.birth_date.month}" %></li>
  <li>Sex: <%= @cat.sex %></li>
  <li>Color: <%= @cat.color %></li>
  <li>Description: <%= @cat.description%></li>
</ul>

<h2>Rental Requests</h2>
<%@cat.rental_requests.order(:start_date).each do |request|%>
<ul>
  <li>Requester: <%=User.find(request.user_id).user_name%></li>
  <li>Rental ID: <%= request.id %></li>
  <li>Start Date: <%= request.start_date.month %> - <%= request.start_date.day %> - <%= request.start_date.year %> </li>
  <li>End Date: <%= request.end_date.month %> - <%= request.end_date.day %> - <%= request.end_date.year %>  </li>
  <li>Status: <%= request.status %></li>
</ul>

<% if signed_in? %>
  <% if request.pending? && Cat.find(request.cat_id).user_id == current_user.id %>
    <form action="<%= approve_cat_rental_request_url(request) %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button>Approve Rental</button>
    </form>
    <form action="<%= deny_cat_rental_request_url(request) %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button>Deny Rental</button>
    </form>
  <% end %>
<% end %>



<%end%>

<% if @cat.rental_requests.empty?%>

<%= "No Pending Requests" %>

<%end%>
